body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222222;
}

h1 {
    border-bottom: 2px solid black;
    padding: 15px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #FF0000;
    text-align: center;
    color: white;
}

h2, p {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

p {
    max-width: 700px;
}

.input-container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin: 6px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    background-color: #222222;
    color: white;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #000000;
    color: #FF0000;
}

#displayMessage {
    text-align: center;
    margin-top: 20px;
    border: 5px solid red;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    max-width: 700px;
}

/* Mobile */
@media (max-width: 600px) {
    #heading {
        font-size: 24px;
    }

    input[type='text'], button {
        width: 80%;
        font-size: 14px;
    }

    #displayMessage {
        font-size: 16px;
    }
}

/* Desktop */
@media (min-width: 601px) {
    #heading {
        font-size: 36px;
    }

    input[type='text'] {
        width: 400px;
    }
}
